.features {
  margin-bottom: 33px;
}

.features__header {
  padding-top: 32px;
  padding-bottom: 27px;
  text-align: center;
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $basic-black;
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.features__item-title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.features__item-text {
  margin: 0;
  margin-top: 28px;
  font-size: 14px;
  line-height: 21px;
}

.features__item-number {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
}


.features__item-info {
  color: $basic-black;
  text-align: center;
}

.features__item-info--blue {
  padding-top: 39px;
  padding-bottom: 35px;
  color: $basic-white;
  background-color: $basic-blue;

  &:first-child {
    padding-top: 55px;
    padding-bottom: 39px;
  }

}

.bonus {
  margin-bottom: 35px;
}

.bonus__item-info {
  padding-top: 35px;
  text-align: left;
  background-color: $basic-white;
}

.features__item-info--gray {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: $background-special-color;
}




