.promo {
  position: relative;
  min-width: 320px;
  min-height: 390px;
  margin: 0 auto;
  background: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.promo__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 282px;
  height: auto;
}
