/*Глобальные стили*/
.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $basic-white;
  color: $basic-gray;
}

.link {
  text-decoration: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
}

.button {
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.title {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
