/*Базовые цвета*/
$basic-black: #000000;
$basic-white: #ffffff;
$basic-gray: #333333;
$basic-blue: #81b3d2;

$special-blue: #669ec0;
$special-dark-blue: #5496bd;;



$background-special-color: #eeeeee;
$background-input-color: #f2f2f2;
$special-input-color: #E6E6E6;

$background-text-color: #eaeaea;



$decor-line-color: #d6d6d6;
$decor-form-color: #e5e5e5;

/*Базовый шрифт*/

$basic-font-family: "PT Sans", "Arial", sans-serif;


